.button {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 2.2rem;
    text-align: center;
    line-height: 3rem;
    display: inline-block;
    position: relative;
    border: 1px solid var(--neutral-40);
    border-radius: 100vh;
    height: 3.2rem;
    padding: 0 16px;
    transition: background 200ms ease-out, padding .2s cubic-bezier(.175, .885, .32, 1.275);
    color: var(--neutral-50);
    background: var(--neutral-10)
}

.button:hover {
    cursor: pointer
}

.button:disabled {
    cursor: not-allowed
}

.button:focus:not(:disabled) {
    outline: solid 2px var(--sunny)
}

.button--primary {
    background: var(--brand-aubergine);
    border-color: var(--neutral-40);
    color: var(--neutral-00)
}

.button--primary:hover:not(:disabled) {
    background: var(--brand-aubergine-hover)
}

.button--primary:active:not(:disabled) {
    background: var(--brand-aubergine)
}

.button--primary:disabled {
    opacity: .5;
    background: var(--brand-aubergine-inactive)
}

.button--secondary {
    background: var(--neutral-00);
    border-color: var(--neutral-40);
    color: var(--brand-aubergine)
}

.button--secondary:hover:not(:disabled) {
    border-color: var(--neutral-60)
}

.button--secondary:disabled {
    opacity: .5
}

.button--secondary.button--level-1:hover,
.button--secondary.button--level-1:focus,
.button--secondary.button--level-1:disabled {
    background: var(--neutral-10)
}

.button--secondary.button--level--1 {
    border-color: var(--neutral-50)
}

.button--reduced {
    border-color: transparent;
    background: transparent;
    color: var(--neutral-60)
}

.button--reduced:disabled {
    opacity: .5;
    color: var(--neutral-40)
}

.button--reduced:hover:not(:disabled) {
    background: var(--neutral-00);
    border-color: var(--neutral-40)
}

.button--reduced.button--level-1 {
    color: var(--neutral-50)
}

.button--reduced.button--level-1:hover:not(:disabled) {
    background: var(--neutral-10);
    border-color: var(--neutral-20)
}

.button--reduced.button--level-1:focus:not(:disabled) {
    background: var(--neutral-10);
    border-color: var(--neutral-40)
}

.button--reduced.button--level--1:disabled {
    color: var(--neutral-50)
}

.button--tertiary {
    border-color: var(--neutral-40);
    background: var(--neutral-10);
    color: var(--neutral-60)
}

.button--tertiary:disabled {
    opacity: .5;
    color: var(--neutral-40)
}

.button--tertiary:hover:not(:disabled) {
    background: var(--neutral-00);
    border-color: var(--neutral-40)
}

.button--tertiary:focus:not(:disabled) {
    background: var(--neutral-00)
}

.button--tertiary.button--level-1 {
    color: var(--neutral-50);
    background-color: var(--neutral-00);
    border-color: var(--neutral-20)
}

.button--tertiary.button--level-1:hover:not(:disabled) {
    background: var(--neutral-10);
    border-color: var(--neutral-20)
}

.button--tertiary.button--level-1:focus:not(:disabled) {
    background: var(--neutral-10);
    border-color: var(--neutral-40)
}

.button--tertiary.button--level--1 {
    border-color: var(--neutral-50);
    background-color: var(--neutral-20)
}

.button--tertiary.button--level--1:disabled {
    color: var(--neutral-50);
    border-color: var(--neutral-50)
}

.button--tertiary.button--level--1:hover:not(:disabled) {
    border-color: var(--neutral-60);
    background-color: var(--neutral-00)
}

.button--primary-blocker {
    background: var(--neutral-00);
    border-color: var(--brand-coral);
    color: var(--brand-coral)
}

.button--primary-blocker:hover:not(:disabled) {
    border-color: var(--brand-coral-hover);
    color: var(--brand-coral-hover)
}

.button--primary-blocker:active:not(:disabled) {
    border-color: var(--brand-coral-hover);
    color: var(--brand-coral-hover)
}

.button--primary-blocker:disabled {
    opacity: .5;
    color: var(--brand-coral-inactive);
    background: var(--neutral-00)
}

.button--secondary-blocker {
    background: var(--brand-coral);
    border-color: var(--brand-coral);
    color: var(--neutral-00)
}

.button--secondary-blocker:hover:not(:disabled) {
    border-color: var(--brand-coral-hover);
    background: var(--brand-coral-hover)
}

.button--secondary-blocker:active:not(:disabled) {
    border-color: var(--brand-coral-hover);
    color: var(--neutral-00)
}

.button--secondary-blocker:disabled {
    opacity: .5;
    background: var(--brand-coral-inactive);
    border-color: var(--brand-coral-inactive);
    color: var(--neutral-00)
}

.button--green {
    background: var(--legende);
    border-color: var(--legende);
    color: var(--white)
}

.button--green:hover:not(:disabled) {
    background: var(--legende);
    border-color: var(--legende);
    color: var(--white)
}

.button--green:active:not(:disabled) {
    background: var(--legende);
    border-color: var(--legende);
    color: var(--white)
}

.button--flat {
    border-color: transparent;
    background: transparent;
    color: var(--brand-aubergine)
}

.button--flat:disabled {
    opacity: .5
}

.button--flat:hover:not(:disabled) {
    background: var(--neutral-00);
    border-color: var(--neutral-40)
}

.button--icon {
    display: inline-flex;
    align-items: center
}

.button--icon-right .button__text {
    margin-right: .4rem
}

.button--icon-left {
    flex-direction: row-reverse;
    padding-left: .6rem
}

.button--icon-left .icon {
    margin-right: .6rem
}

.button--icon-only {
    padding: .8rem 0
}

.button--icon-only .icon--times {
    width: 2rem !important;
    height: 2rem !important
}

.button:not(.button--icon-only) .spinner {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: inherit
}

.button--loading:not(.button--icon-only) {
    display: inline-flex;
    align-items: center;
    padding-left: 3.3rem
}

.button--icon .icon {
    height: 1.6rem;
    width: 2.2rem;
    flex: 0 0 2.2rem
}

.button--icon-only {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem
}

.button--icon-only .icon {
    flex: 0 0 1.6rem;
    height: 3.2rem
}

.button--icon-only.button--loading .icon {
    display: none
}

.button--icon-only.button--loading .icon.spinner {
    position: relative;
    left: 0;
    display: block;
    height: 1.6rem;
    width: 2.2rem;
    flex: 0 0 2.2rem;
    color: inherit
}


