.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  height: 2.6rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 2.6rem;
}
.checkbox__disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.checkbox__disabled .text {
  color: var(--neutral-40);
}
.checkbox .text {
  white-space: nowrap;
  margin-left: 0.8rem;
  color: var(--brand-aubergine);
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  left: 0;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 0.4rem;
  border: 1px solid var(--neutral-40);
  background-color: var(--neutral-00);
}
.checkbox input:focus ~ .checkmark {
  outline: 2px solid var(--sunny);
}
.checkbox input:checked ~ .checkmark {
  background-color: var(--neutral-00);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 0.9rem;
  top: 0.3rem;
  width: 0.6rem;
  height: 1.2rem;
  border: solid var(--brand-aubergine);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
