.custom-range {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.custom-range > label {
  color: var(--neutral-60);
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.range-input__panel {
  width: 100%;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

.custom-range .range-input__bar {
  position: relative;
  display: block;
  height: 8px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--neutral-40);
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #84a4a9 12.14%, #f5bf33 69.98%, #eb6e68 98%, var(--neutral-20) 100%);
}

.custom-range input[type=range] {
  -webkit-appearance: none;
  position: absolute;
  left: -1.1rem;
  right: -1.1rem;
  top: 0;
  background-color: transparent;
  height: 6px;
  border-radius: 6px;
  background-image: linear-gradient(var(--neutral-20), var(--neutral-20));
  background-repeat: no-repeat;
  background-position: right 1.2rem top; 
  margin: 0;
}

.range-input__indicators {
  height: 6px;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.range-input__indicators > span{
  width: 1px;
  height: 4px;
  background-color: var(--neutral-40);
}

.range-input__indicators > span:nth-child(odd) {
  height: 6px;
}

/* Input Thumb */
.custom-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  background: var(--white);
  cursor: grab;
  border: 1px solid var(--neutral-40);
  z-index: 1;
}

.custom-range input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  background: var(--white);
  cursor: grab;
  border: 1px solid var(--neutral-40);
}

.custom-range input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  background: var(--white);
  cursor: grab;
  border: 1px solid var(--neutral-40);
}