.select-input {
    display: inline-block;
    min-width: 15rem;
    position: relative;
    width: 100%;
}

.select-input__label {
    font-size: 1.3rem;
    letter-spacing: 0.02rem;
    line-height: 1.8rem;
    color: var(--neutral-70);
    margin-bottom: 4px;
}

.select-input__message {
    color: var(--neutral-60);
    margin-top: 0.35rem;
}

.select-input__info {
    margin-left: 0.6rem;
}

.select-input__info svg {
    font-size: 2rem;
}

.select-input--error .select-input__label,
.select-input--error .select-input__message {
    color: var(--brand-coral) !important;
}

.select-input .select {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    letter-spacing: 0.02rem;
    line-height: 1.8rem;
    background: var(--white);
    border-radius: 0.4rem;
    padding: 4px 8px 4px 8px;
    height: 3.3rem;
    cursor: pointer;
    border: 1px solid var(--neutral-40);
}

.select-input:focus .select {
    outline: 2px solid var(--sunny);
    border-color: var(--neutral-40) !important;
}

.select-input .select .select__input { 
    display: none;
}

.select-input .select .select-text,
.select-input .select .select-placeholder {
    display: block;
    flex: 1;
    pointer-events: none;
    /* font-family: FuturaBT, sans-serif; */
    margin-right: 1rem;
    color: var(--brand-aubergine);
    font-size: 1.3rem;
    font-weight: var(--font-weight-bold);
}

.select-input .select .select-placeholder {
    color: var(--neutral-60);
    font-weight: normal !important;
}

.select-input .select .select-text.hidden {
    display: none;
}

.select-arrow,
.select-arrow .icon {
    width: 1.6rem;
    height: 1.8rem;
}

.select-dropdown {
    border-radius: 0.4rem;
    border: 1px solid var(--neutral-40);
    background: var(--white);
    min-height: 2.6rem;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    z-index: 1100;
    display: none;
    box-shadow: var(--elevation-15);
}

.select-dropdown.show {
    display: block;
}

.select-dropdown.show-up {
    top: auto !important;
    bottom: calc(100% + 5px) !important;
}

.select-dropdown .select-dropdown__item {
    display: block;
    font-size: 1.3rem;
    letter-spacing: 0.02rem;
    line-height: 1.8rem;
    padding: 4px 8px;
    cursor: pointer;
}

.select-dropdown .select-dropdown__item:hover {
    background: var(--neutral-10);
    color: var(--brand-aubergine);
}

.select-dropdown .select-dropdown__item.selected {
    background-color: var(--brand-aubergine);
    color: var(--white);
}

.select-input__borderless .select {
    background: transparent !important;
    border-color: transparent !important;
}

.select-input__disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.select-input__disabled .select {
    background-color: #fafafa !important;
}

.select-input__disabled .select-input__label {
    color: var(--neutral-60)
}