{# templates/components/checkbox.html.twig #}
<label class="checkbox" for="{{name}}">
    <input name="{{name}}" type="checkbox" id="{{name}}"/>
    <span class="checkmark"></span>
    <span class="text text--bravo text--medium text--regular">{{label}}</span>
</label>
