{# templates/components/select.html.twig #}
<div class="select-input" tabindex="1">
   <div class="select-input__label">Selection</div>
   <div class="rc-select">
      <input autocomplete="off" type="text" placeholder="Select ..." class="rc-select__input" role="combobox" />
      <span class="rc-select-arrow" unselectable="on" aria-hidden="true" style="user-select: none;">
         <span class="icon icon--angle-down">
            <svg role="img">
               <use xlink:href="#angle-down"></use>
            </svg>
         </span>
      </span>
   </div>
   <div class="rc-select-dropdown">
      <span class="rc-select-dropdown__item" data-value="Banana">Banana</span>
      <span class="rc-select-dropdown__item" data-value="Pineapple">Pineapple</span>
      <span class="rc-select-dropdown__item" data-value="Avocado">Avocado</span>
      <span class="rc-select-dropdown__item" data-value="Potato">Potato</span>
      <span class="rc-select-dropdown__item" data-value="Tomato">Tomato</span>
   </div>
</div>